EBANK/xml-resources/web-service-references/Customer_Service/wsdl/localhost_8080/Customer_Webservice/Customer_Service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://customer_service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://customer_service/" name="Customer_Service">
<types>
<xsd:schema>
<xsd:import namespace="http://customer_service/" schemaLocation="http://localhost:8080/Customer_Webservice/Customer_Service?xsd=1"/>
</xsd:schema>
</types>
<message name="addCustomer">
<part name="parameters" element="tns:addCustomer"/>
</message>
<message name="addCustomerResponse">
<part name="parameters" element="tns:addCustomerResponse"/>
</message>
<message name="customersList">
<part name="parameters" element="tns:customersList"/>
</message>
<message name="customersListResponse">
<part name="parameters" element="tns:customersListResponse"/>
</message>
<message name="viewCustomer">
<part name="parameters" element="tns:viewCustomer"/>
</message>
<message name="viewCustomerResponse">
<part name="parameters" element="tns:viewCustomerResponse"/>
</message>
<message name="deleteCustomer">
<part name="parameters" element="tns:deleteCustomer"/>
</message>
<message name="deleteCustomerResponse">
<part name="parameters" element="tns:deleteCustomerResponse"/>
</message>
<message name="editCustomer">
<part name="parameters" element="tns:editCustomer"/>
</message>
<message name="editCustomerResponse">
<part name="parameters" element="tns:editCustomerResponse"/>
</message>
<portType name="Customer_Service">
<operation name="addCustomer">
<input wsam:Action="http://customer_service/Customer_Service/addCustomerRequest" message="tns:addCustomer"/>
<output wsam:Action="http://customer_service/Customer_Service/addCustomerResponse" message="tns:addCustomerResponse"/>
</operation>
<operation name="customersList">
<input wsam:Action="http://customer_service/Customer_Service/customersListRequest" message="tns:customersList"/>
<output wsam:Action="http://customer_service/Customer_Service/customersListResponse" message="tns:customersListResponse"/>
</operation>
<operation name="viewCustomer">
<input wsam:Action="http://customer_service/Customer_Service/viewCustomerRequest" message="tns:viewCustomer"/>
<output wsam:Action="http://customer_service/Customer_Service/viewCustomerResponse" message="tns:viewCustomerResponse"/>
</operation>
<operation name="deleteCustomer">
<input wsam:Action="http://customer_service/Customer_Service/deleteCustomerRequest" message="tns:deleteCustomer"/>
<output wsam:Action="http://customer_service/Customer_Service/deleteCustomerResponse" message="tns:deleteCustomerResponse"/>
</operation>
<operation name="editCustomer">
<input wsam:Action="http://customer_service/Customer_Service/editCustomerRequest" message="tns:editCustomer"/>
<output wsam:Action="http://customer_service/Customer_Service/editCustomerResponse" message="tns:editCustomerResponse"/>
</operation>
</portType>
<binding name="Customer_ServicePortBinding" type="tns:Customer_Service">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="customersList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Customer_Service">
<port name="Customer_ServicePort" binding="tns:Customer_ServicePortBinding">
<soap:address location="http://localhost:8080/Customer_Webservice/Customer_Service"/>
</port>
</service>
</definitions>