EBANK/xml-resources/web-service-references/Employee_Service/wsdl/localhost_8080/Employee_Webservice_1/Employee_Service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://employee_webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://employee_webservice/" name="Employee_Service">
<types>
<xsd:schema>
<xsd:import namespace="http://employee_webservice/" schemaLocation="http://localhost:8080/Employee_Webservice_1/Employee_Service?xsd=1"/>
</xsd:schema>
</types>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="deleteOperation">
<part name="parameters" element="tns:deleteOperation"/>
</message>
<message name="deleteOperationResponse">
<part name="parameters" element="tns:deleteOperationResponse"/>
</message>
<message name="employeeList">
<part name="parameters" element="tns:employeeList"/>
</message>
<message name="employeeListResponse">
<part name="parameters" element="tns:employeeListResponse"/>
</message>
<message name="addEmployee">
<part name="parameters" element="tns:addEmployee"/>
</message>
<message name="addEmployeeResponse">
<part name="parameters" element="tns:addEmployeeResponse"/>
</message>
<message name="editEmployee">
<part name="parameters" element="tns:editEmployee"/>
</message>
<message name="editEmployeeResponse">
<part name="parameters" element="tns:editEmployeeResponse"/>
</message>
<portType name="Employee_Service">
<operation name="Login">
<input wsam:Action="http://employee_webservice/Employee_Service/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://employee_webservice/Employee_Service/LoginResponse" message="tns:LoginResponse"/>
</operation>
<operation name="deleteOperation">
<input wsam:Action="http://employee_webservice/Employee_Service/deleteOperationRequest" message="tns:deleteOperation"/>
<output wsam:Action="http://employee_webservice/Employee_Service/deleteOperationResponse" message="tns:deleteOperationResponse"/>
</operation>
<operation name="employeeList">
<input wsam:Action="http://employee_webservice/Employee_Service/employeeListRequest" message="tns:employeeList"/>
<output wsam:Action="http://employee_webservice/Employee_Service/employeeListResponse" message="tns:employeeListResponse"/>
</operation>
<operation name="addEmployee">
<input wsam:Action="http://employee_webservice/Employee_Service/addEmployeeRequest" message="tns:addEmployee"/>
<output wsam:Action="http://employee_webservice/Employee_Service/addEmployeeResponse" message="tns:addEmployeeResponse"/>
</operation>
<operation name="editEmployee">
<input wsam:Action="http://employee_webservice/Employee_Service/editEmployeeRequest" message="tns:editEmployee"/>
<output wsam:Action="http://employee_webservice/Employee_Service/editEmployeeResponse" message="tns:editEmployeeResponse"/>
</operation>
</portType>
<binding name="Employee_ServicePortBinding" type="tns:Employee_Service">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteOperation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="employeeList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Employee_Service">
<port name="Employee_ServicePort" binding="tns:Employee_ServicePortBinding">
<soap:address location="http://localhost:8080/Employee_Webservice_1/Employee_Service"/>
</port>
</service>
</definitions>